<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Email</h1>
    
<script type="text/javascript">
    var ws = new WebSocket("ws://localhost:8000/ws/");
    ws.onmessage = function(event){
        var recognizedText = event.data;
        document.getElementById("recognized_text").innerHTML = recognizedText
    }

</script>
</body>
</html>